/* TEXT */

#loanBalance {
  visibility: hidden;
}

#loanTitle {
  visibility: hidden;
}

#computerFeatures {
  font-size: 12px;
}

/* ALL TITLES */

.title {
  font-weight: bold;
  font-size: 40px;
}

/* BUTTON STUFF START */

.Btn {
  font-weight: bold;
  padding: 6px 4px 6px;
  width: 88px;
  height: 44px;
  border-radius: 12px;
}

#getLoanBtn {
  background-color: #26ff00;
}

#bankButtonBtn {
  background-color: #ffff00;
}

#workButtonBtn {
  background-color: #001eff;
}

#repayButtonBtn {
  background-color: #26ff00;
  visibility: hidden;
}

#buyCompBtn {
  background-color: #86bab6;
}

/* BUTTON STUFF END */

/* LAYOUT START */

.body {
  position: fixed;
  left: 0;
  top: 0;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 333px);
}

.grid-item {
  background-color: #d8f0de;
  border: 2px solid #76877a;
  box-shadow: 2px 4px #85a88e;
  border-radius: 18px;
  padding: 10px;
  padding: 20px;
}

/* Grid-item */

.header {
  background-color: #2e2e2e;
  color: #ffffff;
  text-align: center;
  padding: 25px;
  grid-row: 1;
  grid-column: 1/4;
  border: 0px solid #76877a;
  box-shadow: 0px 0px #85a88e;
  border-radius: 0px;
}

/* Grid-item */

.bank,
.work,
.laptop {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Bank, Work and Laptop-items */

.titleItem,
.dropDown {
  margin-top: 0px;
  text-align: center;
}

.buttons {
  text-align: center;
  margin-top: auto;
}

/* Grid-item */

.laptopAdd {
  grid-row: 3;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Laptop Add-section items */

.laptopAdd-item {
  margin: auto;
}

.firstCol,
.thirdCol {
  width: 250px;
}

.secondCol {
  flex-grow: 1;
}

/* LAYOUT END */